__pycache__/
.pytest_cache/
.mypy_cache/

*.py[cod]
*.pth
*.ckpt

artifacts/
checkpoints/

neuronxcc*/

# Build and distribution
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# Metrics and logs
global_metric_store.json
*.log

.ipynb_checkpoints/
.DS_Store

parquet_files/